/* CONTACTSECTIE */
.contact {
  background-color: var(--header-bg-color);
  padding: 5% 10%;
  text-align: center;
}

.contact-header h2 {
  color: var(--name-text-color);
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contact-header p {
  color: var(--main-text-color);
  font-size: 1rem;
  margin-top: 0.5rem;
}

.contact-main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* VELDEN */
input,
textarea {
  width: 100%;
  max-width: 500px;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #888; 
  margin-bottom: 1rem;
  background-color: var(--input-bg-color);
  color: var(--main-text-color);
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

input::placeholder,
textarea::placeholder {
  color: #888;
}

/* FOCUS EFFECT */
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #1B4965;
  background-color: #f5faff;
}

.dark-mode input:focus,
.dark-mode textarea:focus {
  background-color: #2b2b2b;
  border: 1px solid #1B4965;
}

/* LABELS */
label {
  display: block;
  text-align: left;
  margin: 0.5rem 0 0.25rem;
  color: var(--main-text-color);
  font-weight: 600;
}

/* VERZENDKNOP */
.form-submit button {
  background-color: var(--started-btn-color);
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 30px;
  box-shadow: 0 3px 10px var(--started-btn-shadow);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.form-submit button:hover {
  background-color: #153c56;
  transform: scale(1.03);
}
